<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">

	<head>
	    <meta charset="utf-8">
	    <meta name="viewport" content="target-densitydpi=device-dpi, width=device-width, initial-scale=1.0, maximum-scale=1">
	    <meta name="description" content="JSRockstar Blog">
	    <meta name="author" content="Sachin Saluja">
	    <meta name="keywords" content="windows 8, modern style, modern ui, style, modern, css, framework">

	    <link href="/build/stylesheets/custom.css" rel="stylesheet">

	    <title>JSRockstar's Blog</title>

	</head>

	<body class="modern-ui" onresize="Resize()">
		
		<div class="page secondary fixed-header">
		    <div class="page-header ">
		        <div class="page-header-content">
		            <div class="user-login">
		                <a href="#/posts/ABOUT-ME">
		                    <div class="name">
		                        <span class="first-name">Sachin</span>
		                        <span class="last-name">Saluja</span>
		                    </div>
		                    <div class="avatar">
		                        <img src="/images/myface.jpg"/>
		                    </div>
		                </a>
		            </div>

		            <h1>JSRockstar</h1>
		        </div>
		    </div>

		    <div class="page-region">
				<%- body %>        
		    </div>
		</div>
		
		
		<script type="text/template" id="templ-post-tile">
		    <div class="tile double tile-post" data-post-id={{= id }}>
		        <div class="tile-content image">
		            <img src="{{= image  }}" alt="">
		        </div>
		        <div class="brand bg-color-orange">
		            <img class="icon" src="images/Rss128.png">
		            <p class="text">{{= title }}</p>
		            <div class="badge">{{= tags.split(" ")[0] }}</div>
		        </div>
		    </div>
		</script>

		<script type="text/template" id="templ-post">
		    {{= typeof(content) != "undefined" ? content : 'spinner!!' }}
		</script>

		<script type="text/template" id="templ-archive-item">
		    <ul>
		    	{{ for (var i = 0; i < items.length; i++) { }}
		    		<li><a href={{= items[i].id }}> {{= items[i].title }} </a> </li>
		    	{{ } }}
		    </ul>
		</script>

		<script type="text/template" id="templ-disqus">
	        <div id="disqus_thread"></div>
	        <{{= "script" }} type="text/javascript">
	            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
	            var disqus_shortname = 'jsrockstarblog'; // required: replace example with your forum shortname
	            var disqus_identifier = "{{= postId }}";

	            /* * * DON'T EDIT BELOW THIS LINE * * */
	            (function() {
	                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
	                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
	                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	            })();
	        </{{= "script" }}>
	        <no{{= "script" }}>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></no{{= "script" }}>
		</script>

		<script src="/build/javascripts/custom.js"></script>

	</body>

</html>
