<div class="page-region-content tiles">
</div>

<div class="page-region-content page-region-post" data-post-id=<%- meta.id %> >
	<div class="left-sidebar">
		<a href="#" class="back-button big page-back"></a>
	</div>
	<div class="page-content">
		<%- content %>
	</div>
	<div class="right-sidebar">
	</div>
	<div class="disqus-box">
    </div>
</div>

<script type="text/javascript">
	_all_posts = <%- JSON.stringify(allPosts) %>;
</script>