<div class="page-region-content page-region-post" data-post-id=<%- meta.id %> >
	<div class="page snapped">
		<a href="/" class="back-button big page-back"></a>
	</div>
	<div class="page fill">
		<%- content %>
	</div>
</div>